* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: left;
  align-items: center;
  height: 10vb;
  background-color: #0146C0;
  color: white;

  & a {
    color: white;
    font-size: 1.3em;
    padding: 15px;
  } 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 100vw;
  min-height: 85vh;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5vh;
  background-color: #262627;
  color: white;
  font-weight: bold;
}

img {
  height: 100px;
    width: 140px;
}

#fundo2 {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: justify;
}

#check {
  width: 80px;
  height: 70px;
}

.container2 {
    display: flex;
    align-items: center;
}

.container3 {
  padding-left: 8%;

}

.container3 h2 {
  font-size: xx-large;
}

.container3 p {
  font-size: large;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

.card {
  flex: 1;
  max-width: 25%;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ddd;
}

.card img {
  max-width: 100%;
  height: auto;
}